html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#form-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    color: black;
}

#form-container > .form-container {
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: aliceblue;
    color: black;
}

#iframe-wrapper {
    height: 100%;
    width: 100%;
}

#iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#accordion-container {
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: aliceblue;
    color: black;
    overflow-y: auto;
}

.accordion {
    width: 100%;
}

.accordion-item {
    width: 100%;
}
